<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/posts/create}"  method="post" th:object="${newPost}">
    <label>Title</label><br>
    <input type="text" id="title" name="title" input th:field="*{title}"><br>
    <label>Post Body</label><br>
    <textarea id="body" name="body" rows="4" cols="50"></textarea><br><br>
    <input type="submit" value="Submit" input th:field="*{body}">
</form>


</body>
</html>