<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Post Edit')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<form th:action="@{/posts/{id}/edit(id=${post.id})}"  method="post" th:object="${post}">
    <label>Title</label><br>
    <input type="text" id="title" name="title" input th:field="*{title}"><br>
    <label>Post Body</label><br>
    <textarea id="body" name="body" rows="4" cols="50" input th:field="*{body}"></textarea><br><br>

    <input type="submit" value="Submit">
</form>
<th:block th:replace="partials/partials.html :: scripts"></th:block>
</body>
</html>