<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Welcome')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header('Welcome to the Spring Blog')"></header>
<main class="container text-center">

    <img  style="height: 200px; width: 200px; padding: 10px; " src="https://www.kindpng.com/picc/m/497-4970242_grumpy-cat-pixel-art-grid-hd-png-download.png" alt="..." class="rounded-circle">


</main>
<th:block th:replace="partials/partials.html :: scripts"></th:block>
</body>
</html>